@use "../../styles/base.scss";

.price {
	&__container {
		display: flex;
		font-size: 14px;
		height: fit-content;
		margin-top: 2px;
	}

	&__free {
		background-color: gold;
		color: black;
		padding: 3px;
	}

	&__original_price {
		background-color: base.$palette7;
		padding: 3px;
		color: grey;
		text-decoration: line-through red;
	}

	&__discount_price {
		background-color: green;
		padding: 3px;
	}

	&__regular_price {
		background-color: base.$palette7;
		padding: 3px;
		color: white;
	}
}
