@use "../../styles/base.scss";

.featured_item {
	cursor: pointer;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: items;
	align-items: center;
	border-bottom: 2px solid black;
	text-decoration: none;

	&:hover {
		border-bottom: 2px solid #dedede;
		box-shadow: 0px 0px 15px 1px #000000;
	}

	&__main_image {
		&__container {
			height: 100%;
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: black;
		}

		&__content {
			width: auto;
			height: 100%;
			object-fit: fill;
		}
	}

	&__info {
		&_container {
			height: 100%;
			width: 50%;
			background: black;
		}

		&__content {
			margin: 20px;
			display: flex;
			flex-direction: column;

			&__title {
				font-size: 48px;
				font-family: base.$heading-font;
				margin: 0;
				color: white;
				&:hover {
					text-decoration: underline;
				}
			}

			&__subtitle {
				font-size: 20px;
				margin: 0;
				color: base.$palette2;
			}

			&__body_text {
				font-weight: 300;
				color: white;
			}
		}
	}
}
