@use "../../styles/base.scss";

.info {
	margin-top: 20px;
	height: 200px;
	display: flex;
	flex-direction: column;

	&__container {
		&__bottom {
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
			border: 2px solid base.$key-color;
			padding: 20px;

			& > div {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}
	}

	&__description {
		margin: 0;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		& li {
			padding: 2px;
		}
	}
}
