.copies_mod {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	&__btns {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__value {
		min-width: 20px;
		text-align: center;
	}
}
