// Palette
$palette1: #f2d194;
$palette2: #f2ceae;
$palette3: #d989a6;
$palette4: #f28d8d;
$palette5: #0477bf;
$palette6: #035aa6;
$palette7: #024873;
$palette8: #83618c;
$palette9: #2f3240;

$key-color: #717171;

$background-colour: #2f3240;

$heading-font: "Macondo", cursive;
$body-font: "Fira Sans", sans-serif;

$max-content-width: 1200px;
