// Palette

$palette1: #f2d194;
$palette2: #f2ceae;
$palette3: #d989a6;
$palette4: #f28d8d;
$palette5: #0477bf;
$palette6: #035aa6;
$palette7: #024873;
$palette8: #83618c;
$palette9: #2f3240;

$key-color: #595959;

// Theme

$light-mode-text-colour: #2f3240;
$light-mode-background-colour: #f2ceae;

$dark-mode-text-colour: #f2ceae;
$dark-mode-background-colour2: #2f3240;
